<mat-toolbar>
    <mat-toolbar-row>
      <span> Electronic Shope </span>
  
        <button mat-icon-button class="menuStyle" (click)="Products()"> <mat-icon></mat-icon> Products  </button>
        <button mat-icon-button class="menuStyle" (click)="Catugary()"> <mat-icon></mat-icon> Catugary  </button>
        <button mat-icon-button class="menuStyle" (click)="AboutUs()"> <mat-icon></mat-icon> Post </button>
        <button mat-icon-button class="menuStyle" (click)="ContactUs()"> <mat-icon></mat-icon> Contact Us  </button>
        <button mat-icon-button class="menuStyle" (click)="Logout()"> <mat-icon></mat-icon>  Logout  </button>
  
    </mat-toolbar-row>
  </mat-toolbar>